module/PaymentProcessor/src/PaymentProcessor/Model/Gateway/Processor/Ws/Visa/Wsdl/WSEticketQAS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.multimerchantvisanet.com/solicitudtransaccion" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://www.multimerchantvisanet.com/solicitudtransaccion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultas en Linea de transacciones</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.multimerchantvisanet.com/solicitudtransaccion">
      <s:element name="GeneraEticket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraEticketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneraEticketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GeneraEticketSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraEticket" />
  </wsdl:message>
  <wsdl:message name="GeneraEticketSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraEticketResponse" />
  </wsdl:message>
  <wsdl:portType name="WSEticketSoap">
    <wsdl:operation name="GeneraEticket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Solicitar pedido - Generacion de Eticket</wsdl:documentation>
      <wsdl:input message="tns:GeneraEticketSoapIn" />
      <wsdl:output message="tns:GeneraEticketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSEticketSoap" type="tns:WSEticketSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneraEticket">
      <soap:operation soapAction="https://www.multimerchantvisanet.com/solicitudtransaccion/GeneraEticket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSEticketSoap12" type="tns:WSEticketSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneraEticket">
      <soap12:operation soapAction="https://www.multimerchantvisanet.com/solicitudtransaccion/GeneraEticket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEticket">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consultas en Linea de transacciones</wsdl:documentation>
    <wsdl:port name="WSEticketSoap" binding="tns:WSEticketSoap">
      <soap:address location="http://qas.multimerchantvisanet.com/WSGenerarEticket/WSEticket.asmx" />
    </wsdl:port>
    <wsdl:port name="WSEticketSoap12" binding="tns:WSEticketSoap12">
      <soap12:address location="http://qas.multimerchantvisanet.com/WSGenerarEticket/WSEticket.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>